.site-content {
    margin-bottom: 4em;
}

.sidebar {
	padding: .5em 1.4em 1em 0;
    overflow: hidden;
    background-color: hsla(60, 50%, 100%, 0.8);
    direction: rtl;
}

.posts {
    margin: 1em 1em 0em;
    /* background-color: rgba(122, 155, 130, 0.755); */
}

.sidebar-switcher {
    z-index: 2;
    cursor: pointer;
    background: hsl(120, 67%, 99%);
    border-radius: 0px 5px 5px 0px;
    left: 0;
    position: fixed;
    top: 150px;
    color: hsla(160, 91%, 24%, 0.9);
    box-shadow: 2px 1px 7px -1px rgba(95, 87, 87, 0.73);
    font-size: 1.5em;
}

.sidebar-switcher:hover {
    color: hsla(160, 89%, 11%, 0.9);
}

.sidebar-switcher .icon-switcher {
    display: none;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 13px;
    font-weight: 500;
    font-family: cursive;
}

/* Flexbox section */


@media screen and (min-width: 40em) {
    .outer-wrap {
        display: flex;
        flex-direction: column;
    }
    
    .site-content {
        display: flex;
        margin-bottom: 6em;
    }

    .sidebar {
        transition: flex .5s ease, padding .5s ease, color .2s ease .3s, border .2s ease .3s;
        flex: 0 0 12em;
        order: 0;
    }

    .posts {
        flex: 1 1 auto;
        order: 1;
        margin: 4em 2em 0em;
        transition: margin 0.2s ease;
    }


    .hide {
        flex: 0 0 0;
        padding: 0;
        color: hsla(0, 0%, 0%, 0);
        transition: border .2s ease, color .2s ease, flex .5s ease .3s, padding .5s ease .3s;
    }
    
    .hide a {
        color: hsla(0, 0%, 0%, 0);
    }
    
    .hide .squish-container h3 {        
        border: 0;
    }

    .hide .squish-container .sidebar-category {
        border: 0;
    }

    .sidebar-switcher .icon-switcher {
        display: flex;
        padding: 0.2em;
    }

}


@media screen and (min-width:60em) {
    .site-content {
        display: flex;
    }

    .sidebar {
        transition: flex .5s ease, padding .5s ease, color .2s ease .3s;
        flex: 0 0 16em;
    }

    .posts {
        margin: 4em 6em 0em;
        transition: margin 0.2s ease;
    }
    .hide {
        flex: 0 0 0;
        padding: 0;
        color: hsla(0, 0%, 0%, 0);
        transition: color .2s ease, flex .5s ease .3s, padding .5s ease .3s;
    }
    
    .hide a {
        color: hsla(0, 0%, 0%, 0);
    }
}