{% extends "base.html" %}

{% block title %}
    <h1 class=" header-content">{{page_title}}</h1>
{% endblock %}

{% block site_content %}

    <div class="course-dscription-block" id="tab-course-description">
            <div class="course-dscription">
                <h4>Who We Are</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry’s standard dummy text ever since the 1500s, when
                    an unknown printer took a galley of type and scrambled it to make a type specimen
                    book. It has survived not only five centuries, but also the leap into electronic
                    typesetting, remaining essentially unchanged.</p>
                <h4>What We Do</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry’s standard dummy text ever since the 1500s, when
                    an unknown printer took a galley of type and scrambled it to make a type specimen
                    book. It has survived not only five centuries, but also the leap into electronic
                    typesetting, remaining essentially unchanged.</p>
            </div>
        </div>


{#                    <div class="entry-contain">#}
{#                        <h2 class="entry-title">#}
{#                            <a href="#">{{ post.title }}</a>#}
{#                        </h2>#}
{#                        <ul class="entry-meta">#}
{#                            <li class="author">#}
{#                                <span>نویسنده</span>#}
{#                                <span>#}
{#                                    <a href="#">#}
{#                                        {{ post.author }}#}
{#                                    </a>#}
{#                                </span>#}
{#                            </li>#}
{#                            <li class="entry-category">#}
{#                                <span>دسته بندی</span>#}
{#                                <div class="entry-category-titles">#}
{#                                    {% for key, value in post.category.items() %}#}
{#                                        <a href="#">#}
{#                                                {{ value }}#}
{#                                        </a>#}
{#                                    {% endfor %}#}
{#                                </div>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </header>#}
{#                <div class="post-summery">#}
{#                    <p>{{ post.content }}</p>#}
{#                </div>#}
{#            </div>#}
{#        </article>#}
{#    </section>#}
{% endblock %}

{% block sidebar %}
{% endblock %}