{% extends "base.html" %}

{% block title %}
    <h1 class=" header-content">{{page_title}}</h1>
{% endblock %}

{% block site_content %}
    <div class="course-page">
        <h1 class="course-title">
            <a href="#">From Zero to Hero with Nodejs</a>
        </h1>
        <div class="course-header">
            <div class="course-author-header">
                <img alt="Admin bar avatar" src="{{ url_for('static',  filename='images/course/8.jpg') }}" class="avatar avatar-40 photo" height="40" width="40">
                <div class="author-contain">
                    <label>Teacher</label>
                    <div class="course-value-header" itemprop="name">
                        <a href="#"> Keny White </a>
                    </div>
                </div>
            </div>
            <div class="course-categories">
                <label>Category</label>
                <div class="course-value-header">
                    <a href="#" rel="tag">Technology</a>
                </div>
            </div>
            <div class="course-years">
                <label>Year</label>
                <div class="course-value-header">
                    <a href="#" rel="tag">2017</a>
                </div>
            </div>
        </div>
        <div class="course-preview">
            <img src="{{ url_for('static',  filename='images/course/course-1.jpg') }}">
        </div>
        <div class="course-content">
            <section class="tab-section-course">

                <input class="tab" id="tab1" type="radio" name="grp" checked="checked" />
                <label class="tab-label" for="tab1">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    <span class="text">Description</span>
                </label>
                <div class="tab-content">
                    <div class="course-dscription-block" id="tab-course-description">
                        <div class="course-dscription">
                            <h4>COURSE DESCRIPTION</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry’s standard dummy text ever since the 1500s, when
                                an unknown printer took a galley of type and scrambled it to make a type specimen
                                book. It has survived not only five centuries, but also the leap into electronic
                                typesetting, remaining essentially unchanged.</p>
                            <h4>CERTIFICATION</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry’s standard dummy text ever since the 1500s, when
                                an unknown printer took a galley of type and scrambled it to make a type specimen
                                book. It has survived not only five centuries, but also the leap into electronic
                                typesetting, remaining essentially unchanged.</p>
                            <h4>LEARNING OUTCOMES</h4>
                            <ul class="course-list-content">
                                <li>Over 37 lectures and 55.5 hours of content!</li>
                                <li>Testing Training Included.</li>
                                <li>Learn Software Testing and Automation basics from a professional trainer from
                                    your own desk.</li>
                                <li>Information packed practical training starting from basics to advanced testing
                                    techniques.
                                </li>
                                <li>Best suitable for beginners to advanced level users and who learn faster when
                                    demonstrated.
                                </li>
                                <li>Course content designed by considering current software testing technology and
                                    the job market.</li>
                                <li>Practical assignments at the end of every session.</li>
                                <li>Practical learning experience with live project work and examples.</li>
                            </ul>
                        </div>
                        <div class="course-info-block">
                            <div class="course-info">
                                <h3>Course Features</h3>
                                <ul>
                                    <li class="lectures-feature">
                                        <i class="fa fa-files-o"></i>
                                        <span class="label">Lectures</span>
                                        <span class="value">6</span>
                                    </li>
                                    <li class="quizzes-feature">
                                        <i class="fa fa-puzzle-piece"></i>
                                        <span class="label">Quizzes</span>
                                        <span class="value">1</span>
                                    </li>
                                    <li class="duration-feature">
                                        <i class="fa fa-clock-o"></i>
                                        <span class="label">Duration</span>
                                        <span class="value">3 hours</span>
                                    </li>
                                    <li class="skill-feature">
                                        <i class="fa fa-level-up"></i>
                                        <span class="label">Skill level</span>
                                        <span class="value">All level</span>
                                    </li>
                                    <li class="language-feature">
                                        <i class="fa fa-language"></i>
                                        <span class="label">Language</span>
                                        <span class="value">English</span>
                                    </li>
                                    <li class="students-feature">
                                        <i class="fa fa-users"></i>
                                        <span class="label">Students</span>
                                        <span class="value">669</span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-check-square-o"></i>
                                        <span class="label">Assessments</span>
                                        <span class="value">Yes</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

                <input class="tab" id="tab2" type="radio" name="grp" />
                <label class="tab-label" for="tab2">
                    <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                    <span class="text">News</span>
                </label>
                <div class="tab-content">
                    <section class="posts">
                        <article class="post">
                            <div class="post-content">
                                <header class="post-header">
                                    <div class="date-meta">
                                        <span>20</span>
                                        <i> تیر</i>
                                    </div>
                                    <div class="entry-contain">
                                        <h2 class="entry-title">
                                            <a href="#">چرا باید هرروز مطالعه کرد؟</a>
                                        </h2>
                                        <ul class="entry-meta">
                                            <li class="author">
                                                <span>نویسنده</span>
                                                <span>
                                                    <a href="#">آنتونی</a>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </header>
                                <div class="post-summery">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry’s standard dummy text ever since the
                                        1500s, when an unknown printer took a galley of type and scrambled it
                                        to make a …</p>
                                </div>
                            </div>
                        </article>
                        <article class="post">
                            <div class="post-content">
                                <header class="post-header">
                                    <div class="date-meta">
                                        <span>20</span>
                                        <i> تیر</i>
                                    </div>
                                    <div class="entry-contain">
                                        <h2 class="entry-title">
                                            <a href="#">چرا باید هرروز مطالعه کرد؟</a>
                                        </h2>
                                        <ul class="entry-meta">
                                            <li class="author">
                                                <span>نویسنده</span>
                                                <span>
                                                    <a href="#">آنتونی</a>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </header>
                                <div class="post-summery">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry’s standard dummy text ever since the
                                        1500s, when an unknown printer took a galley of type and scrambled it
                                        to make a …</p>
                                </div>
                            </div>
                        </article>
                    </section>
                </div>

                <input class="tab" id="tab3" type="radio" name="grp" />
                <label class="tab-label" for="tab3">
                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                    <span class="text">Syllabus</span>
                </label>
                <div class="tab-content">
                    <div class="message message-success">
                        <span>You haven't got any Syllebus yet!</span>
                    </div>
                </div>

                <input class="tab" id="tab4" type="radio" name="grp" />
                <label class="tab-label" for="tab4">
                    <i class="fa fa-upload" aria-hidden="true"></i>
                    <span class="text">Upload</span>
                </label>
                <div class="tab-content">
                    <div class="user-profile-setting">

                        <form class="upload-homeworks" method="post" action="add-news">
                            <div class="image-panel-homework">
                                <label for="post-image">
                                    <h3>Upload file</h3>
                                </label>
                                <div class="upload-homework">
                                    <input type="file" name="post_image" id="post-image" class="">
                                    <label for="post-image">choose</label>
                                </div>
                            </div>
                        </form>

                    </div>

                    <input type="hidden" name=" profile-section" value="basic-information">
                    <p class="update-profile">
                        <input type="submit" name="submit" id="submit" class="" value="Update">
                    </p>
                </div>

            </section>
        </div>
    </div>

{% endblock %}

{% block sidebar %}
{% endblock %}

{% block sidebar_switcher %}
{% endblock %}
